<!DOCTYPE html>
<html>
<head>
  <title>Palomitas XYZ - Tan fácil como hacer tus palomitas...</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<div id="notice_wrapper">
	<p class="notice"><%= notice %></p>
</div>
<%elsif alert %>
<div id="notice_wrapper">
	<p class="alert"><%= alert %></p>
</div>
<%end%>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-brand"><%=link_to "Palomitas XYZ", root_path%></div>
			<% if user_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Añadir película",new_movie_path%></li>
					<li><%= link_to "Mi cuenta",edit_user_registration_path%></li>
					<li><%= link_to "Salir",destroy_user_session_path, method: :delete%></li>
				</ul>
			<%else %>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Ingresar",new_user_session_path%></li>
					<li><%= link_to "Registrarme",new_user_registration_path%></li>
			</ul>
			<%end%>
	</div>
</nav>

<div class="ads"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- palomitasxyz -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-3496391728830771"
     data-ad-slot="6227218043"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
<%= yield %>
<div class="ads-bottom"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- palomitas2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-3496391728830771"
     data-ad-slot="6087617241"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
</body>
</html>
